<div class="box-container">
    <div class="box">
      <h4>ENSIAS</h4>
      <p>Founded in 1992, the National School of Computer Science and
        Systems Analysis (ENSIAS) is one of the ten ...</p>
      <a href="http://ensias.um5.ac.ma/"><button>learn more</button></a>
    </div>
    <div class="box">
      <h4>EHTP</h4>
      <p>The Hassania School of Public Works (EHTP) is a major engineering
        school located in Casablanca. It was created in 1971 by the ...</p>
      <a href="http://www.ehtp.ac.ma/"><button>learn more</button></a>
    </div>
    <div class="box">
      <h4>EMI</h4>
      <p>The Mohammadia School of Engineers ( EMI ), is one of the major 
        engineering schools with military training 2 in Morocco 3 , it is ...</p>
      <a href="https://www.emi.ac.ma/"><button>learn more</button></a>
    </div>
    <div class="box">
      <h4>ENSMR</h4>
      <p>Since its creation in 1972, The National Higher School of Mines of Rabat 
        has continued to evolve to meet the ...</p>
      <a href="https://www.enim.ac.ma/"><button>learn more</button></a>
    </div>
    <div class="box-1">
      <h4>INPT</h4>
      <p>Founded in 1992, the National School of Computer Science and
        Systems Analysis (ENSIAS) is one of the ten ...</p>
      <a href="http://ensias.um5.ac.ma/"><button>learn more</button></a>
    </div>
    <div class="box-1">
      <h4>INSEA</h4>
      <p>Founded in 1992, the National School of Computer Science and
        Systems Analysis (ENSIAS) is one of the ten ...</p>
      <a href="http://ensias.um5.ac.ma/"><button>learn more</button></a>
    </div>
    <div class="box-1">
      <h4>ECC</h4>
      <p>Founded in 1992, the National School of Computer Science and
        Systems Analysis (ENSIAS) is one of the ten ...</p>
      <a href="http://ensias.um5.ac.ma/"><button>learn more</button></a>
    </div>
    <div class="box-1">
      <h4>ENSEM</h4>
      <p>Founded in 1992, the National School of Computer Science and
        Systems Analysis (ENSIAS) is one of the ten ...</p>
      <a href="http://ensias.um5.ac.ma/"><button>learn more</button></a>
    </div>
    <div class="box-1">
      <h4>ENSET</h4>
      <p>Founded in 1992, the National School of Computer Science and
        Systems Analysis (ENSIAS) is one of the ten ...</p>
      <a href="http://ensias.um5.ac.ma/"><button>learn more</button></a>
    </div>
    <div class="box-3">
      <a href="#"><button>Concours</button></a>
      <a href="#"><button>Examens</button></a>
      <a href="#"><button>Cours</button></a>
    </div>
  </div>
  <div class="box-2">
    <div class="box-2-1">
      <h4>Concours</h4>
      <img src="../assets/concours.png">
      <a href="#"><button>Préinscription</button></a>
      <a href="#"><button>Anciens Concours</button></a>
    </div>
    <div class="box-2-1">
      <h4>Examens</h4>
      <img src="../assets/exams.jpg">
      <a href="#"><button>Les TDs</button></a>
      <a href="#"><button>Anciens Examens</button></a>
    </div>
    <div class="box-2-1">
      <h4>Cours</h4>
      <img src="../assets/course.jpg"><br>
      <a href="#"><button>Les Cours</button></a><br>
      <a href="#"><button>Les TPs</button></a>
    </div>
  </div>
  
