<div class="box-container">
    <div class="box">
      <p>Université Mohamed V - Rabat</p>
      <a href="http:///"><button>Discover Faculties</button></a>
      <a href="http://https://fr.wikipedia.org/wiki/Universit%C3%A9_Mohammed-V_de_Rabat/"><button>History</button></a>
      <a href="http://www.um5.ac.ma/"><button>learn more</button></a>
    </div>
    <div class="box">
      <h4>EHTP</h4>
      <a href="http://www.ehtp.ac.ma/"><button>learn more</button></a>
    </div>
    <div class="box">
      <h4>EMI</h4>
      <a href="https://www.emi.ac.ma/"><button>learn more</button></a>
    </div>
    <div class="box">
      <h4>ENSMR</h4>
      <a href="https://www.enim.ac.ma/"><button>learn more</button></a>
    </div>
    <div class="box">
      <h4>INPT</h4>
      <a href="http://ensias.um5.ac.ma/"><button>learn more</button></a>
    </div>
    <div class="box">
      <h4>INSEA</h4>
      <a href="http://ensias.um5.ac.ma/"><button>learn more</button></a>
    </div>
    <div class="box">
      <h4>ECC</h4>
      <a href="http://ensias.um5.ac.ma/"><button>learn more</button></a>
    </div>
    <div class="box">
      <h4>ENSEM</h4>
      <a href="http://ensias.um5.ac.ma/"><button>learn more</button></a>
    </div>
    <div class="box">
      <h4>ENSET</h4>
      <a href="http://ensias.um5.ac.ma/"><button>learn more</button></a>
    </div>
</div>
